/* A simple CSS reset */
* {
    margin: 0;
    padding: 0;
  }

  /* reintroduces top spacing except parent element */
  .flow > * + * {
    margin-top: 1em;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* resets only if it has a class */
  ul[class] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }