/* styles.css */

/* Body */
body {
  background-color: #fff;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--body-clr);
}

/* Utilities */
.main-copy {
  font-family: var(--font-fam-body);
  font-size: var(--fs-300);
  color: var(--main-copy-clr);
  text-wrap: pretty;
  line-height: 1.5rem;
}

.detail-copy {
  font-family: var(--font-fam-body);
  font-size: var(--fs-200);
  color: var(--main-copy-clr);
  text-wrap: pretty;
}

/* General content wrapper */
.wrapper-basic-outer-section {
  display: flex;
  justify-content: center;
  padding-top: var(--wrapper-outer-padding-tb);
  padding-bottom: var(--wrapper-outer-padding-tb);
}

.wrapper-general {
  width: min(var(--inner-content-max-width-v1), 100% - var(--padding-inline-v1) * 2);
  margin-inline: auto;
}

 .wrapper-with-info-card-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
 }

 @media (width < 851px) {
  .wrapper-with-info-card-right {
    grid-template-columns: 1fr;
}
}

/* Menu page content wrapper */
.wrapper-menu-outer-section {
  display: flex;
  justify-content: center;
  padding-top: var(--wrapper-outer-menu-padding-tb);
  padding-bottom: var(--wrapper-outer-menu-padding-tb);
}

/* content with sidebar in single item, cart, & checkout */
.with-sidebar {
  --main-min-width: 542px;
  --sidebar-size: 150px;
  --gap: 5rem;

  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

@media (width < 851px) {
  .with-sidebar {
   --main-min-width: 542px;
   --sidebar-size: 350px;
  --gap: 2rem;
  }
}

.with-sidebar > :first-child {
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-grow: 999;
  flex-basis: calc(
    ((var(--main-min-width) - (100% - var(--sidebar-size) - var(--gap))) * 9999)
  );
}

/* product list wrapper */
.wrapper-food-items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px));
  gap: 2rem;
}

/* Card right menu & cart */
.menu-cart-card-right {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-accent-creme);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(73,73,73,.25);
  align-self: start;
  min-width: 300px;
}

@media (width < 851px) {
  .menu-cart-card-right {
    background-color: rgb(0,0,0,0);
    box-shadow: none;
    padding: 0rem;
  }
}

/* Main button */
.main-btn {
  font-size: var(--fs-300);
  background-color: var(--clr-primary);
  color: #fff;
  min-width: 5rem;
  padding: .5rem 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 0.06rem;
}

.main-btn:hover {
  background-color: var(--clr-primary-200)
}

.body-bottom-button {
  margin-bottom: 1rem;
}

/* General two up */
.two-up-section-image {
 border-radius: 30px;
}


/* Headers */
.header-1 {
  font-family: var(--ff-headers);
  font-size: var(--fs-900);
  line-height: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-body);
  margin-bottom: 1rem;
}

.header-2 {
  font-family: var(--ff-headers);
  font-size: var(--fs-800);
  line-height: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-body);
  margin-bottom: 1.8rem;
}

.header-3 {
  font-family: var(--ff-headers);
  font-size: var(--fs-500);
  line-height: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-body);
  margin-bottom: 1.5rem;
}

.header-4 {
  font-family: var(--ff-headers);
  font-size: var(--fs-400);
  line-height: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-body);
  margin-bottom: 1rem;
}

.header-5 {
  font-family: var(--ff-headers);
  font-size: var(--fs-300);
  line-height: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-body);
  margin-bottom: 1rem;
}

.header-6 {
  font-family: var(--ff-headers);
  font-size: var(--fs-200);
  line-height: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-body);
  margin-bottom: .8rem;
  letter-spacing: .04rem;
}

@media (width < 850px) {
  .header-1 {
    line-height: 3.2rem;
    margin-bottom: 1.2rem;
  }
  
  .header-2 {
    line-height: 2.5rem;
    margin-bottom: 1.2rem;
  }
  
  .header-3 {
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  
  .header-4 {
    font-family: var(--ff-headers);
    font-size: var(--fs-400);
    line-height: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--clr-body);
    margin-bottom: .6rem;
  }
  
  .header-5 {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .header-6 {
    line-height: 1rem;
    margin-bottom: .4rem;
  }
  }

/* Form elements */
.form-label {
  display: flex;
  flex-direction: column;
  color: rgb(154, 154, 154);
  font-size: var(--fs-300);
  letter-spacing: .05rem;
}

.form-input {
  border: none;
  border-bottom: 2px solid rgb(193, 193, 193);
}

.form-input:focus {
  border-bottom: 2px solid var(--clr-primary);
}

/* Mobile menu disable scroll */
.no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}