:root {
  /* Colors */
  --clr-body: #292B2F;
  --clr-primary: #F43737;
  --clr-primary-100: #FDD7D7;
  --clr-primary-200: #B42929;
  --clr-accent-creme: #F8F7F5; 

  /* Font size */
  --fs-100: .7rem;
  --fs-200: .9rem;
  --fs-300: 1rem;
  --fs-400: 1.325rem;
  --fs-500: 1.625rem;
  --fs-600: 2rem;
  --fs-700: 2.325rem;
  --fs-800: 2.7rem;
  --fs-900: 4.5rem;


  /* wrappers */
  --inner-content-max-width-v1: 1160px;
  --padding-inline-v1: 2rem;
  --wrapper-outer-padding-tb: 6rem;
  --content-gap: 3rem;
}

/* Font size */
@media (width > 850px) {
  :root {
    --fs-100: .7rem;
    --fs-200: .9rem;
    --fs-300: 1rem;
    --fs-400: 1.325rem;
    --fs-500: 1.625rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3.5rem;
    --fs-900: 7rem;
  }
}