:root {
    --primary-color: #ffcc00;
    --secondary-color: #333;
    --font-color: #000;
    --font-size-base: 16px;
    --font-size-large: 24px;

    /* wrappers */
    --content-max-width-basic: 1160px;
  }